<div class="container">
  <h1>Dynamically Add a Control</h1>
    <form [formGroup]="form">
        <input type="checkbox" formControlName="optionA"> Option A
        <input type="checkbox" formControlName="optionB"> Option B
        <input formControlName="optionBExtra" placeholder="Reason" *ngIf="optionBExtra">
        <div *ngIf="optionBExtra?.errors.required">
            Name is required.
        </div>
        <div *ngIf="optionBExtra?.errors.minlength">
            Name must be at least 5 characters long.
        </div>
    </form>
</div>
