<h1>Angular Reactive Forms: Tips and Tricks</h1>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <label>
        First Name:
        <input type="text" formControlName="firstName">
    </label>

    <label>
        Last Name:
        <input type="text" formControlName="lastName">
    </label>

    <p>
        <button (click)="updateFirstName()">First Name</button>
    </p>

    <p>
        <button (click)="updateLastName()">Last Name</button>
    </p>

    <p>
        <button type="submit">Submit</button>
    </p>

</form>